@keyframes sb-keyframes {
    from {
        height: 100vh;
    }
    to {
        height: 48px;
        padding-top: 24px;
    }
}

.sb-animation {
    animation-name: sb-keyframes;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: ease;
}

.sb-container {
   height: 100vh;
}